In [11]:
s2="good afternoon"
print(s2)
print(len(s2))
print(s2[7])
print(s2[len(s2)//2])

good afternoon
14
t
t

In [12]:
print(dir(s2))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
a="Good"
b="Afternoon"
c=a.__add__(b) # addition
print(c)
d=a.__eq__(b) # equal
print(d)

GoodAfternoon
False

In [26]:
s1="Good afternoon every one from vignan"
s2=s1.split()
print(s2)

se="have a great day"
sr=se.split('e')
print(sr)

sn="good afternoon"
sl=sn.split()
sm="&".join(sn)
sa="-".join(sl)
print(sm)
print(sa)

['Good', 'afternoon', 'every', 'one', 'from', 'vignan']
['hav', ' a gr', 'at day']
g&o&o&d& &a&f&t&e&r&n&o&o&n
good-afternoon

In [23]:
sl1="good"
sl2="afternoon".join(sl1)
print(sl2)

gafternoonoafternoonoafternoond

In [28]:
h1="Vignan College of Engineering"
h2=h1.replace('e',"E")
print(h2)

Vignan CollEgE of EnginEEring

In [12]:
# palindrome
st=input()
str=st[::-1]
if st==str:
    print("palindrome number")
else: 
    print("not a palindrome")

123
not a palindrome

In [14]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
    if(temp==rev):
        print("The number is palindrome!")
    else:
            print("Not a palindrome!")

Enter a number:121
Not a palindrome!
Not a palindrome!
The number is palindrome!

In [25]:
# seperate alphabets,even numbers and odd numbers
# task2="GoodMorningHelloWorldByeBye1234567890"
str1="GoodMorningHelloWorldByeBye1234567890"
a=" "
odd=" "
even=" "
for i in str1:
    if i.isalpha():
        a+=i
    elif int(i)%2==0:
        even+=i
    else:
            odd+=i
print("alphabets",a)
print("even numbers",even)
print("odd numbers",odd)

alphabets  GoodMorningHelloWorldByeBye
even numbers  24680
odd numbers  13579

In [26]:
# seperate alphabets,even numbers,odd numbers
vignan="abc123def456ghi"
ab=" "
ev=" "
od=" "
for i in vignan:
    if i.isalpha():
        ab+=i
    elif int(i)%2==0:
        ev+=i
    else:
        od+=i
print("alphabets in given string",ab)
print("even numbers",ev)
print("odd numbers",od)

alphabets in given string  abcdefghi
even numbers  246
odd numbers  135

In [32]:
# no of occurence of a character
s1="GoodMorning India"
count=0
for i in s1:
    if i=="o":
        count=count+1
print(count)

3

# functions-->collection of statements that can be reused
syntax
#### Def functionname():
####       Body of the function
####  functionname()

In [33]:
def add():
    a=10
    b=20
    c=a+b
    print("add",c)
add()

def sub():
    a=10
    b=20
    d=a-b
    print("sub",d)
sub()

def mul():
    a=10
    b=20    
    e=a*b
    print("mul",e)
mul()

def div():
    a=10
    b=20
    f=a/b
    print("div",f)
div()

add 30
sub -10
mul 200
div 0.5

In [36]:
# factorial
def fact():
    a=int(input())
    fac=1
    i=1
    while i<=a:
        fac=fac*i
        print(fac)
        i=i+1
fact()

5
1
2
6
24
120

# types of functions
#### without arg and without return value
#### with arg and without return value
#### without arg and with return value
#### with arg and with return value

In [18]:
# without arg and without return value
def fact():
    fac=1
    for i in range(1,6):
        fac=fac*i
        print(fac)
fact()

1
2
6
24
120

In [50]:
# with arg and without return value
def fact(n):
    fac=1
    for i in range(1,n+1):
        fac=fac*i
        print(fac)
fact(6)

1
2
6
24
120
720

In [48]:
# without arg and with return value
def fact():
    fac=1
    for i in range(1,6):
        fac=fac*i
    return fac 
    print(fac)
fact()

120

In [49]:
 # with arg and with return value
def fact(n):
    fac=1
    for i in range(1,n+1):
        fac=fac*i
    return fac 
    print(fac)
fact(5)

120

In [2]:
c=1
for i in range(1,11):
    if i<5:
        print("😊"*c)
        c=c+1
    elif i==5:
        print("😊"*c)
        c=c+1 
    else:
         if i>5:
            c=c-1
            print("😊"*c)
print(c)

😊
😊😊
😊😊😊
😊😊😊😊
😊😊😊😊😊
😊😊😊😊😊
😊😊😊😊
😊😊😊
😊😊
😊
1

In [13]:
st=" "
for i in range(1,10):
    if i<5:
        st+="😊"
        print(st)
    elif i>4:
        st=st[:-1]
        print(st)

 😊
 😊😊
 😊😊😊
 😊😊😊😊
 😊😊😊
 😊😊
 😊

In [14]:
st=" "
for i in range(1,10):
    if i<5:
        st+="😊"
        print(st)

 😊
 😊😊
 😊😊😊
 😊😊😊😊

In [27]:
s="hello everyone"
s1=s.split()
print(s1)
print(len(s1))

['hello', 'everyone']
2

In [28]:
# number of words in a string
cunt=1
s=input("enter the string")
for i in s:
    if i==' ':
        cunt+=1
    print(cunt)

enter the stringhello world
1
1
1
1
1
2
2
2
2
2
2
3

In [1]:
# a3b4c5 aaabbbbccccc
ac=input()
ab=" "
no=" "
out=" "
for i in ac:
    if i.isalpha():
        ab+=i
        print(ab)
    elif int(i):
        no+=i
        print(no)

a3b4c5
 a
 3
 ab
 34
 abc
 345

In [16]:
ac=input()
out=" "
for i in ac:
    if i.isalpha():
        ch=i
        print(ch)
    else:
        dig=int(i)
        print(dig)
        out=out+dig*ch
print(out)

a3b4c5
a
3
b
4
c
5
 aaabbbbccccc

In [14]:
# input=a3b4c5 out=aaabbbbccccc
st=input("Enter the String")
out=''
for i in st:
    if i.isalpha():
        ch=i
        print("alphabets",ch)
    else:
        dig=int(i)
        print("numbers",dig)
        out=out+dig*ch
        
print(out)

Enter the Stringa3b4c5
alphabets a
numbers 3
alphabets b
numbers 4
alphabets c
numbers 5
aaabbbbccccc

In [20]:
# default arg--> default values will be considered if no values r entered
def arg(a,b,c):
    print(a,b,c)
    d=c+b+a
    print(d)
arg(10,20,30)

10 20 30
60

In [22]:
def dfun(name,role):
    print("My name is",name,"My role is",role)
dfun("SreeLakshmi","Student")

My name is SreeLakshmi My role is Student

In [23]:
dfun("Roopa","Neet aspirant")

My name is Roopa My role is Neet aspirant

In [24]:
dfun("Ram","CA")

My name is Ram My role is CA

In [26]:
def keyword(name,role):
   print("My name is",name,"My role si",role)
keyword(name="swami",role="mst")

My name is swami My role si mst

In [27]:
# Arbitary keyword functions->*,**
def keystar(*names):
    for i in names:
        print(i)
keystar("Swami","Surya","mst","apssdc")

Swami
Surya
mst
apssdc

In [28]:
# **--> saved in dictionaries
def keystar(**names):
        print(names["clg"],names["add"])
keystar(clg="vignan",add="dvd")

vignan dvd

In [36]:
# Recursive functin--> function calling itself
fact=1
def factto(n):
    if n==1:
        return 1
    else:
        return n*factto(n-1)
print(factto(5))

120

In [37]:
# using functionc find leap year and prime number

In [40]:
# DATA STRUCTURES/ DATA TYPES
* two types--> primitive and non primitive
* primitive --> int,float,boolean,strings
* non primitive --> lists,tuples,dictionaries,sets,files,arrays
* primitive-> single values only can be taken to a variable
* to keep multiple elements we use non primitive types

SyntaxError: invalid syntax (<ipython-input-40-5a143d0d2819>, line 2)

# list:
* collection of elements or items(either similar or different type are accepted)
* It is stored and retrived, ordered and idexed format
* seperated by ,    represented []
* it allows duplicate items

In [41]:
li=[]
type(li)

list

In [42]:
li=30
type(li)

int

In [43]:
li=[2,6,8,9] # printed exactly an given in input
li

[2, 6, 8, 9]

In [45]:
li=[2,5,4,"Sree",True] # accepted all type of data types
li

[2, 5, 4, 'Sree', True]

In [69]:
li # accessing the entire list
print(li[1]) # accessing element at index 1 is printed
print(li[-2]) # accessing the index from the end/reverse
print(li[-2:4])
print(li[::-1])
print(li[::2])
print(li[1::2])

5
Sree
['Sree']
[True, 'Sree', 4, 5, 2]
[2, 4, True]
[5, 'Sree']

In [78]:
li2=[2,3,6,4,7,3,3]
print(li2[1:5])
print(li2[-6:-2])
print(li2[::2])
print(li2[1::2])
print(li2[0:6])
print(li2[0:6+1])
print(li2[0:6:1])
print(li2[0:6:2])
print(li2[-6:0:-2])
print(li2[-6:-1:1])

[3, 6, 4, 7]
[3, 6, 4, 7]
[2, 6, 7, 3]
[3, 4, 3]
[2, 3, 6, 4, 7, 3]
[2, 3, 6, 4, 7, 3, 3]
[2, 3, 6, 4, 7, 3]
[2, 6, 7]
[3]
[3, 6, 4, 7, 3]

In [79]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
li=[2,5.4,"Sree",True]
li

[2, 5.4, 'Sree', True]

In [17]:
li.append(12) # adding element to end of list
li

[2, 5.4, 'Sree', True, 12]

In [9]:
li2=[2,3,6,4,7,3,3]
li2.append("surya")
li2

[2, 3, 6, 4, 7, 3, 3, 'surya']

In [21]:
li.insert(2,"venkat") # adding element at particular position

In [22]:
li

[1, 2, 'venkat', 2, 3, 5, 5, 8, 9]

In [13]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [18]:
li=[5,3,2,8,9,11,1,2,5]
li.sort() # sort elements in ascending order
li

[1, 2, 2, 3, 5, 5, 8, 9, 11]

In [19]:
li.pop() # deleting/remove last element in a list
li

[1, 2, 2, 3, 5, 5, 8, 9]

In [24]:
li.remove(2) # element will be removed
li

[1, 'venkat', 2, 3, 5, 5, 8, 9]

In [25]:
li.remove("venkat") # ElementToBeRemovedShouldBeWrittenNotTheIndex
li

[1, 2, 3, 5, 5, 8, 9]

In [26]:
li.reverse() # will reverse the list of elements
li

[9, 8, 5, 5, 3, 2, 1]

In [27]:
li1=[1,2,3,[6,7,8]] # can pass list inside list
li1

[1, 2, 3, [6, 7, 8]]

In [31]:
print(li1[0])
print(li1[1])
print(li1[2])
print(li1[3]) # inside list 
print(li1[3][0]) #accessing elements inside list
print(li1[3][1])
print(li1[3][2])

1
2
3
[6, 7, 8]
6
7
8

In [44]:
print(li1[3][0:2])
print(li1[3][::2])

[6, 7]
[6, 8]

In [35]:
l2=[2,3,4,4,4,5,6]
print(l2.count(4)) # element is passed not index
print(l2.index(4))

3
2

In [36]:
l3=[34,35]
l3=l2.copy() # copying data
l3

[2, 3, 4, 4, 4, 5, 6]

In [45]:
l3.clear()

In [46]:
l3

[]

In [49]:
l3.append(1)
l3

[1, 1]

In [51]:
l3.insert(2,2)
l3

[1, 1, 2, 2]

In [53]:
l3.clear()
l3

[]

In [54]:
l1=[2,3,3,4,5]
l2=[5,6,6,7,8,9]
l1.extend(l2) # l2 is added to l1
l1

[2, 3, 3, 4, 5, 5, 6, 6, 7, 8, 9]

In [55]:
l2

[5, 6, 6, 7, 8, 9]

In [56]:
l2.extend(l1)
l2

[5, 6, 6, 7, 8, 9, 2, 3, 3, 4, 5, 5, 6, 6, 7, 8, 9]

In [57]:
l2.count(6) # gives count of that number present in the list

4

In [61]:
sum=0
for i in l2:
    sum+=i
print(sum)

99

In [64]:
print(max(l2))
print(min(l2))
print(len(l2))

9
2
17

In [63]:
avg=sum/len(l2)
print(avg)

5.823529411764706

In [87]:
s=[1,2,3,5,'a',"surya"]
# find sum and avg particular list
sum=c=0
s=str(s)
for i in s:
    if i.isdigit():
        sum=sum+int(i)
        c=c+1
print(sum/c)
print(sum)
avg=sum/len(s)
print(avg)

2.75
11
0.4230769230769231

In [85]:
p=[1,2,3,5,4,2,'a',"surya"]
# find sum and avg particular list
sum=c=0
p=str(p)
for i in p:
    if i.isdigit():
        sum=sum+int(i)
        c=c+1
print(sum/c)

2.8333333333333335

In [94]:
p=[1,2,3,5,4,2,'a',"surya","hello"]
# find sum and avg particular list
sum=c=0
for i in p:
    if type(i)==int or type(i)==float:
        sum=sum+i
        c=c+1
print(sum/c)

2.8333333333333335

In [101]:
li=[4,3,3,10,6,8,9,9]
li.sort()
print(li)
print(max(li))
print(li[-2])
print()

[3, 3, 4, 6, 8, 9, 9, 10]
10
9

In [115]:
# find second largest element
li=[4,3,3,10,10,10,6,8,9,9]
li.sort()
print(li)
print(max(li))

for i in li[::-1]:
    if(i==max(li)):
        continue
    else:
        print(i)
        break

[3, 3, 4, 6, 8, 9, 9, 10, 10, 10]
10
9

In [1]:
# find second largest element
li=[4,3,3,10,10,10,6,8,9,9]
li.sort()
print(li)
print(max(li))
nli=[]
for i in li:
    if i not in nli:
        nli.append(i)
print(nli) 
print(nli[-4])

[3, 3, 4, 6, 8, 9, 9, 10, 10, 10]
10
[3, 4, 6, 8, 9, 10]
6

In [119]:
s="1 2 3 4 5"
li=s.split()
print(li)
nlist=[]
for i in li:
    nlist.append(int(i))
print(nlist)

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [2]:
#to convert string to list
s= "1 2 3 4 5 6 7 8 9"
li=s.split()
nlist=[]
for i in li:
    nlist.append(int(i))
print(nlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [5]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']